/* Created by: Bain Liao
* Created on: Apr 2025
* This file contains the CSS for index.html
*/

.mdl-layout__header-row {
  justify-content: left;
  padding: 1;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

.mdl-textfield__error {
  color: #FF0000;
}

.page-content {
  color: #000000;
  font-family: "Times New Roman", Times, monospace;
  font-size: 1.25rem;
}

body {
  background-color: #ffffff;
}

img {
  float: right;
  height: 200px;
}
